.main {
  background: url('../assets/mainimg2.jpg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;

  @apply w-screen min-h-screen;
  @apply bg-slate-600;
}

.header {
  @apply bg-white;
  @apply fixed top-0 right-0;
  @apply flex items-center justify-start;
  @apply w-1/2;
  @apply h-full;
  @apply px-8;
}

.headerContent {
  @apply text-4xl;
  @apply uppercase;
}

.gradient {
  @apply bg-gradient-to-r from-red-500 to-red-900;
  @apply bg-clip-text;
  @apply text-transparent;
}
